/* ***********************************************************
## COLORS
*********************************************************** */

/* set up colors that will be used over and over again, in RGBA, A ommitted so that it can be set as needed but maintain base color */
$color-1: (102, 183, 227);         // medium brand blue
$color-2: (117, 164, 176);          // darkest brand blue
$color-3: (233, 153, 31);          // a yellow/orange, used as a warning color
$color-4: (68, 74, 84);            // a dark gray
$color-5: (211, 211, 211);         // a medium gray
$color-6: (255,255,255);           // pure white
$color-7: (183, 227, 238);         // light brand blue
$color-8: (189, 49, 40);           // red, used an error color
$color-9: (109, 187, 71);          // green, used as an action or success color
$color-10: (218, 218, 218);        // light gray
$color-11: (245, 245, 245);        // white smoke
$color-12: (238, 130, 238);        // violet
$color-13: (255, 252, 225);
$color-14: (201, 78, 80);


// set up the basic colors
$neoColors: (
  'black': (0, 0, 0),
  'red': (255, 0, 0),
  'blue': (0, 0, 255),
  'green': (0, 128, 0),
  'yellow': (255, 255, 0),
  'white': (255, 255, 255)
);
