/* ***********************************************************
## FONTS
*********************************************************** */

// set up the basic colors
$neoFonts: (
  'ff'     : 'entypo',
  'c'       : $color-1,
  'fw'     : bold,
  'fstyle' : normal,
  'fsize'  : 1.6rem,
  'lh'      : 2.2rem,
  'ls'      : 1px,
  'tt'     : capitalize,
  'tdec'     : none
);


html,
body{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

@font-face {
	font-family: entypo;
	font-style: normal;
	font-weight: normal;
	src: url(http://weloveiconfonts.com/api/fonts/entypo/entypo.eot);
	src: url(http://weloveiconfonts.com/api/fonts/entypo/entypo.eot?#iefix) format("eot"), url(http://weloveiconfonts.com/api/fonts/entypo/entypo.woff) format("woff"), url(http://weloveiconfonts.com/api/fonts/entypo/entypo.ttf) format("truetype"), url(http://weloveiconfonts.com/api/fonts/entypo/entypo.svg#entypo) format("svg");
}
